In [1]:
import geopandas as gpd
from sqlalchemy import create_engine
import geoalchemy2
import os

In [2]:
# Read in SHP
gdf = gpd.read_file(r"../data/core/final_ctu_data_4326.shp")

In [6]:
# Casting & Renaming
dtypes_dict = {
    "name": str,
    "class": str,
    "county_cd": int,
    "county": str
}

gdf = gdf.astype(dtypes_dict)

gdf.columns = ["gnis", "ctu_name", "class", "county_gnis", "county_code", "county", "pop", "total_road_length", "aadt_sum", "aadt_mean", "geom"]

gdf

,gnis,ctu_name,class,county_gnis,county_code,county,pop,total_road_length,aadt_sum,aadt_mean,geom
0,663477,Augsburg,TOWNSHIP,659489,45,Marshall,73,531742.572,945.0,189.000000,"POLYGON ((-96.64940 48.54366, -96.64941 48.543..."
1,663921,Danielson,TOWNSHIP,659492,47,Meeker,282,537483.168,1642.0,328.400000,"POLYGON ((-94.63485 45.06580, -94.63486 45.051..."
2,2394210,Bluffton,CITY,659501,56,Otter Tail,208,80168.262,7190.0,2396.666667,"POLYGON ((-95.21819 46.45607, -95.23909 46.455..."
3,663916,Dalbo,TOWNSHIP,659475,30,Isanti,801,390959.648,1644.0,182.666667,"POLYGON ((-93.38911 45.73072, -93.38904 45.716..."
4,664373,Hallock,TOWNSHIP,659480,35,Kittson,83,572900.217,3173.0,352.555556,"POLYGON ((-96.93072 48.80388, -96.93067 48.789..."
...,...,...,...,...,...,...,...,...,...,...,...
2739,664059,Elba,TOWNSHIP,659529,85,Winona,337,407848.480,2977.0,372.125000,"POLYGON ((-91.95935 44.10623, -91.95940 44.099..."
2740,2395265,Northfield,CITY,659464,19,Dakota,1240,109032.879,1524.0,762.000000,"MULTIPOLYGON (((-93.22139 44.47861, -93.22125 ..."
2741,664468,High Forest,TOWNSHIP,659500,55,Olmsted,969,1058518.730,111784.0,3605.935484,"MULTIPOLYGON (((-92.46353 43.93499, -92.45850 ..."
2742,665536,Saint Wendel,TOWNSHIP,659517,73,Stearns,2131,544042.689,25150.0,2794.444444,"POLYGON ((-94.26376 45.67379, -94.26386 45.659..."
2743,664386,Hampton,TOWNSHIP,659464,19,Dakota,828,563290.257,51289.0,2229.956522,"POLYGON ((-93.01504 44.63030, -93.00023 44.630..."

In [21]:
# Uploading to PostgreSQL
engine = create_engine(f'postgresql://{os.environ["DB_USER"]}:{os.environ["DB_PASSWORD"]}@{os.environ["DB_HOST"]}:{os.environ["DB_PORT"]}/{os.environ["DB_NAME"]}') 

gdf = gdf.set_geometry("geom")

# gdf.to_postgis("geo_ctu_accidents", engine, if_exists="append")